<div style="margin: 0 20px;">
    <tabset>
        <tab heading="Log Pattern">
              <label ng-repeat="mask in masks">
                <input type="radio" ng-model="$parent.choice" value="{{ mask.id }}" ng-change='watchRadioButtonChange($parent.choice)'>{{ mask.label }}<br/>
              </label>

            <tt>color = {{choice}}</tt><br/>

        </tab>
        <tab heading="Create Pattern">
            Static content
            <g:remoteLink action="ajx_showLogPattern" id="${sourceInstance.id}" update="patternField" class="button-mlogger">Refresh</g:remoteLink>

            <div id="patternField">
                <g:render template="logPattern" model="[sourceInstance: sourceInstance, previewLogsList: previewLogsList]"/>
            </div>
        </tab>
    </tabset>
</div>
<div style="margin: 0 20px">
    <div style="width: 80%; float: left" id="previewLogFragment">
        <li class="default">
            <table id="thetable" class="simpleResultsTable inner">
                <thead>
                    <tr>
                        <th ng-repeat="head in gridData.headers">{{head}}</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="row in gridData.rows">
                        <td ng-repeat="cell in row.cells">{{cell.value}}</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <g:render template="previewLog" model="[previewLogsList: previewLogsList, previewLogsMap: previewLogsMap, logHeader: logHeader, isMap: isMap]"/>
    </div>

    <div style="float: left;width: 20%;">
        <article class="sectionArticleContent">
            <li class="default">
                <table class="simpleResultsTable inner">
                    <thead>
                        <tr>
                            <th colspan = "2">File PROPERTIES</th>
                        </tr>
                    </thead>
                     <tbody>
                        <tr>
                            <td>File Name: </td><td>{{ source.fileName }}</td>
                        </tr>
                        <tr>
                            <td>Bytes: </td><td>{{ source.fileSize }}</td>
                        </tr>
                    </tbody>
                 </table>
            </li>
        </article>
    </div>
    <div style="width: 100%; clear: both; padding-top: 55px;">
        <button class="btn btn-small"  ng-click="viewSourceConfiguration()" style="float: left;">Configuration</button>
        <g:link id="${sourceInstance.id}" controller="source" action="saveTest" class="button-mlogger" style="float: right;">Add Data</g:link>&nbsp;
    </div>
</div>