<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Projects</title>
</head>
<body >
    <div id="project_fragment">
        <nav id="navSideBar">
            <h3>Projects <img src="static/images/skin/add.png" alt="add" ng-click="addProject()" style="cursor:pointer; float:right; margin-top: 11px;"/></h3>
            <!-- TODO: change this from directive to routing e.g. ui-route module -->
            <div mlogger-project-sidebar projects="projects" project-action="projectAction" cancel-project="cancelProject" view-sources="viewSources" create-project="createProject" delete-project="deleteProject" edit-project="editProject" update-project="updateProject" project="project"></div>
        </nav>
    </div>

    <!--<div mlogger-project-sources projects="projects"></div>-->
    <div id="source_fragment" style=" width: 79%; float: left;" ng-show="projectSources">
        <section id="logPageSection" style=" width: 79%; float: left;">
            <header class="sectionHeader"><h2>Sources {{ projectSources.name }} <img src="static/images/skin/add.png" alt="add" ng-click="viewSourceConfiguration(projectSources)" style="cursor:pointer; float:right; margin-top: 11px;"/></h2></header>

            <input type="text" ng-model="searchSource" class="search-query" placeholder="Search Sources">

            <article class="sectionArticleContent" id="sourcesList">
                <li class="default">
                    <table id="thetable" class="simpleResultsTable inner">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>HOST</th>
                                <th>SOURCE</th>
                                <th>DATA TYPE</th>
                                <th>COUNT EVENT</th>
                                <th>EARLIEST EVENT</th>
                                <th>LAST EVENT</th>
                                <th>PATTERN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="cursor: pointer;" ng-repeat="source in projectSources.sources | filter:searchSource | orderBy:'name'">
                                <td>{{source.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </article>
        </section>
    </div>


    <div modal="shouldBeOpen" close="close()" options="opts" style="color: #000000">
        <div class="modal-header">
            <h3>Create new project</h3>
        </div>
        <form method="POST" action="" novalidate class="form-horizontal">
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="inputName">Name</label>
                    <div class="controls">
                        <input type="text" id="inputName" placeholder="Name" ng-model="newProject.name">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning submit" ng-click="createProject(newProject)">Create</button>
                <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
            </div>
        </form>
    </div>
</body>
</html>