<input type="text" ng-model="search" class="form-control input-sm" placeholder="Search Projects" style="margin-bottom: 18px">
<ul class="nav">
    <div ng-repeat="project in projects | filter:search | orderBy:'name'">
         <li ng-click="viewSources(project)" style="cursor:pointer; display: block; width: 75%; float: left;">
            {{project.name}}
        </li>
        <span class="pull-right clearfix">
            <img src="static/images/skin/pencil.png" alt="add" ng-click="editProject('edit', project)" style="margin-top: 5px; cursor:pointer; "/>
            <img src="static/images/skin/delete.png" alt="add" ng-click="editProject('delete', project)" style="margin-top: 5px; cursor:pointer;"/>
        </span>
    </div>
</ul>
