<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Projects</title>
</head>
<body>
    <nav id="navSideBar" class="col-lg-2" style="padding-right: 0">
        <div class="header" style="padding: 4px 15px;">
            <h3>Projects <img src="static/images/skin/add.png" alt="add" ng-click="addProject()" style="cursor:pointer; float:right; margin-top: 5px;"/></h3>
        </div>
        <!-- TODO: change this from directive to routing e.g. ui-route module -->
        <div style="padding-right: 15px; padding-left: 15px;" mlogger-project-sidebar projects="projects" project-action="projectAction" cancel-project="cancelProject" view-sources="viewSources" create-project="createProject" delete-project="deleteProject" edit-project="editProject" update-project="updateProject" project="project"></div>
    </nav>

    <section class="col-lg-10" ng-show="projectNavClicked">
        <div class="header" style="padding: 4px 15px;">
            <h3>Sources {{ gridData.project.name }} <img src="static/images/skin/add.png" alt="add" ng-click="viewSourceConfiguration(gridData.project)" style="cursor:pointer; float:right; margin-top: 5px;"/></h3>
        </div>

        <article style="padding-right: 15px; padding-left: 15px;">
            <input type="text" ng-model="searchSource" class="form-control input-sm" placeholder="Search Sources" style="margin-bottom: 18px">

            <div class="tableWrapper" ng-show="gridData.rows">
                <table class="table table-condensed no-wrap">
                    <thead>
                        <tr>
                            <th ng-repeat="head in gridData.headers">{{head.label}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in gridData.rows | filter:searchSource | orderBy:'name'">
                            <td ng-repeat="cell in row.cells" mlogger-grid-cell="cell" delete-source="deleteSource" edit-source="editSource" view-source="viewSource" source="row.source" project="gridData.project">{{cell.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="alert alert-info" ng-hide="gridData.rows">No source created yet.</div>
        </article>
    </section>
</body>
</html>