<form method="POST" action="" novalidate>
    <div class="control-group" ng-show="projectAction != 'delete'">
        <input type="hidden" name="name" ng-model="project.id" ng-init="project.id=project._id.$oid">

        <label>Name</label>
        <input type="text" name="name" ng-model="project.name" required>
    </div>
    <p ng-show="projectAction == 'delete'">Are you sure you want to delete project <b>'{{ project.name }}'</b> with all sources?</p>
    <button class="btn-small btn" ng-click="cancelProject()">Cancel</button>
    <button class="btn-small btn-success" ng-click="createProject(project)" ng-show="projectAction != 'delete' && projectAction != 'edit'">Save</button>
    <button class="btn-small btn-success" ng-click="updateProject(project)" ng-show="projectAction == 'edit'">Update</button>
    <button class="btn-small btn-danger" ng-click="deleteProject(project)" ng-show="projectAction == 'delete'">Delete</button>
</form>
