<div id="source_fragment" style=" width: 79%; float: left;">
    <section id="logPageSection" style=" width: 79%; float: left;">
        <header class="sectionHeader"><h2>Sources {{ projectSources.name }} <img src="mlogger/static/images/skin/add.png" alt="add" ng-click="viewSourceConfiguration(projectSources)" style="cursor:pointer; float:right; margin-top: 11px;"/></h2></header>


        <article class="sectionArticleContent" id="sourcesList">

            <li class="default">
                <table id="thetable" class="simpleResultsTable inner">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>HOST</th>
                            <th>SOURCE</th>
                            <th>DATA TYPE</th>
                            <th>COUNT EVENT</th>
                            <th>EARLIEST EVENT</th>
                            <th>LAST EVENT</th>
                            <th>PATTERN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="cursor: pointer;" ng-repeat="source in projectSources.sources">
                            <td>{{source.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </article>
    </section>
</div>